
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_UserLayout";
}
@model General.Entities.SysUser
<div class="main-container">
    <div class="content">

        <div class="row">
            <div class="col-sm-3">
                <h3>
                    修改密码
                </h3>
            </div>
        </div>

        <div class="row">
            <label class="block clearfix">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" asp-for="Password" placeholder="新密码" />
                    <i class="ace-icon fa fa-lock"></i>
                </span>
            </label>
            <label class="block clearfix">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" id="RePassword" autocomplete="off" placeholder="再次输入密码" />
                    <i class="ace-icon fa fa-lock"></i>
                    <span id="rePasswordError" class="inline text-danger"></span>
                </span>
            </label>
        </div>
        <div class="clearfix">
            <button type="button" id="myButton" data-loading-text=" 加载中..." class="width-35 pull-right btn btn-sm btn-primary">
                <i class="ace-icon fa fa-key"></i>
                <span class="bigger-110">修改</span>
            </button>
        </div>

        <script>
            $(function () {
                $("#RePassword").blur(function () {
                    if ($("#RePassword").val() != $("#Password").val()) {

                        $("#rePasswordError").text("两次密码不一致");

                    }
                    else {
                        $("#rePasswordError").text("");
                    }
                });

                $("#myButton").click(function (e) {
                    if (true) {
                        if ($("#RePassword").val() != $("#Password").val()) {
                            alert("两次密码不一致");
                            return;
                        }
                        if ($("#Password").val() == "") {
                            alert("密码不能为空");
                            return;
                        }

                        var password = $("#Password").val();
                        var url = '@Url.RouteUrl("changePasswordPost")';
                        $.post(url, { 'password': password}, function (data) {
                            $.modal.alert(data);
                        })

                    }

                    
                });


            });



        </script>



    </div>
</div>

